<ruleset xmlns="http://pmd.sourceforge.net/ruleset/2.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Custom Rules" xsi:schemaLocation="http://pmd.sourceforge.net/ruleset/2.0.0 https://pmd.sourceforge.io/ruleset_2_0_0.xsd">
  <description> My custom rules </description>
  <rule ref="category/java/bestpractices.xml">
    <!--  Deprecated rules  -->
    <exclude name="PositionLiteralsFirstInCaseInsensitiveComparisons"/>
    <exclude name="UnusedImports"/>
    <exclude name="UseAssertEqualsInsteadOfAssertTrue"/>
    <exclude name="UseAssertNullInsteadOfAssertTrue"/>
    <exclude name="UseAssertSameInsteadOfAssertTrue"/>
    <exclude name="UseAssertTrueInsteadOfAssertEquals"/>
    <exclude name="PositionLiteralsFirstInComparisons"/>

    <!-- necessary for console gui -->
    <exclude name="SystemPrintln"/>

    <!-- Static Helper classes like ControlBot said "make it abstract", so its needed -->
    <exclude name="AbstractClassWithoutAbstractMethod"/>

    <!-- wrong recognized by PMD, e.g. ControlShipRandomPositioning:64 -->
    <exclude name="UnusedAssignment"/>

    <!-- necessary for Status[][] of the matchfield -->
    <exclude name="UseVarargs"/>
    
  </rule>
  <rule ref="category/java/codestyle.xml">
    <!--  Deprecated rules  -->
    <exclude name="AbstractNaming"/>
    <exclude name="AvoidFinalLocalVariable"/>
    <exclude name="AvoidPrefixingMethodParameters"/>
    <exclude name="DefaultPackage"/>
    <exclude name="DontImportJavaLang"/>
    <exclude name="DuplicateImports"/>
    <exclude name="ForLoopsMustUseBraces"/>
    <exclude name="IfElseStmtsMustUseBraces"/>
    <exclude name="IfStmtsMustUseBraces"/>
    <exclude name="MIsLeadingVariableName"/>
    <exclude name="SuspiciousConstantFieldName"/>
    <exclude name="VariableNamingConventions"/>
    <exclude name="WhileLoopsMustUseBraces"/>

    <!-- for what? -->
    <exclude name="MethodArgumentCouldBeFinal"/>
    
    <!-- for what? -->
    <exclude name="LocalVariableCouldBeFinal"/>

    <!-- Bot, Main is ok for me -->
    <exclude name="ShortClassName"/>
    
    <!-- x, y needed as variable name -->
    <exclude name="ShortVariable"/>
    
    <!-- Some "Helper classes" like ControlBot needs no constructor -->
    <exclude name="AtLeastOneConstructor"/>
  </rule>
  <rule ref="category/java/design.xml">
    <!--  Deprecated rules  -->
    <exclude name="ExcessiveClassLength"/>
    <exclude name="ExcessiveMethodLength"/>
    <exclude name="ModifiedCyclomaticComplexity"/>
    <exclude name="NcssConstructorCount"/>
    <exclude name="NcssMethodCount"/>
    <exclude name="NcssTypeCount"/>
    <exclude name="SimplifyBooleanAssertion"/>
    <exclude name="StdCyclomaticComplexity"/>

    <!-- custom exlusions -->
    <!-- <exclude name="ImmutableField"/> -->

    <!-- often in use to get the matchfield of a player or bot object -->
    <exclude name="LawOfDemeter"/>

    <!-- Using CognitiveComplexity instead -->
    <exclude name="CyclomaticComplexity"/>

    <!-- necessary for console GUI, e.g. Animation:15 -->
    <exclude name="NcssCount"/>
  </rule>
  <rule ref="category/java/errorprone.xml">
    <!--  Deprecated rules  -->
    <exclude name="BadComparison"/>
    <exclude name="BeanMembersShouldSerialize"/>
    <exclude name="CloneThrowsCloneNotSupportedException"/>
    <exclude name="DataflowAnomalyAnalysis"/>
    <exclude name="DoNotCallSystemExit"/>
    <exclude name="EmptyFinallyBlock"/>
    <exclude name="EmptyIfStmt"/>
    <exclude name="EmptyInitializer"/>
    <exclude name="EmptyStatementBlock"/>
    <exclude name="EmptyStatementNotInLoop"/>
    <exclude name="EmptySwitchStatements"/>
    <exclude name="EmptySynchronizedBlock"/>
    <exclude name="EmptyTryBlock"/>
    <exclude name="EmptyWhileStmt"/>
    <exclude name="ImportFromSamePackage"/>
    <exclude name="InvalidSlf4jMessageFormat"/>
    <exclude name="LoggerIsNotStaticFinal"/>
    <exclude name="MissingBreakInSwitch"/>
    <exclude name="ReturnEmptyArrayRatherThanNull"/>

    <!-- needed for Thread.sleep() in console GUI -->
    <exclude name="EmptyCatchBlock"/>
    
    <!-- necessary for console GUI, e.g. Animation:17 -->
    <exclude name="AvoidDuplicateLiterals"/>
  </rule>
</ruleset>