<ruleset xmlns="http://pmd.sourceforge.net/ruleset/2.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="Custom Rules" xsi:schemaLocation="http://pmd.sourceforge.net/ruleset/2.0.0 https://pmd.sourceforge.io/ruleset_2_0_0.xsd">
  <description> My custom rules </description>
  <rule ref="category/java/bestpractices.xml">
    <!--  Deprecated rules  -->
    <exclude name="PositionLiteralsFirstInCaseInsensitiveComparisons"/>
    <exclude name="UnusedImports"/>
    <exclude name="UseAssertEqualsInsteadOfAssertTrue"/>
    <exclude name="UseAssertNullInsteadOfAssertTrue"/>
    <exclude name="UseAssertSameInsteadOfAssertTrue"/>
    <exclude name="UseAssertTrueInsteadOfAssertEquals"/>
    <exclude name="PositionLiteralsFirstInComparisons"/>

    <!-- custom exlusions -->
    <exclude name="SystemPrintln"/>
    
  </rule>
  <rule ref="category/java/codestyle.xml">
    <!--  Deprecated rules  -->
    <exclude name="AbstractNaming"/>
    <exclude name="AvoidFinalLocalVariable"/>
    <exclude name="AvoidPrefixingMethodParameters"/>
    <exclude name="DefaultPackage"/>
    <exclude name="DontImportJavaLang"/>
    <exclude name="DuplicateImports"/>
    <exclude name="ForLoopsMustUseBraces"/>
    <exclude name="IfElseStmtsMustUseBraces"/>
    <exclude name="IfStmtsMustUseBraces"/>
    <exclude name="MIsLeadingVariableName"/>
    <exclude name="SuspiciousConstantFieldName"/>
    <exclude name="VariableNamingConventions"/>
    <exclude name="WhileLoopsMustUseBraces"/>

    <!-- custom exlusions -->
    <exclude name="MethodArgumentCouldBeFinal"/>
    <exclude name="LocalVariableCouldBeFinal"/>
    <exclude name="ShortClassName"/>
    <exclude name="ShortVariable"/>
    <exclude name="AtLeastOneConstructor"/>
  </rule>
  <rule ref="category/java/design.xml">
    <!--  Deprecated rules  -->
    <exclude name="ExcessiveClassLength"/>
    <exclude name="ExcessiveMethodLength"/>
    <exclude name="ModifiedCyclomaticComplexity"/>
    <exclude name="NcssConstructorCount"/>
    <exclude name="NcssMethodCount"/>
    <exclude name="NcssTypeCount"/>
    <exclude name="SimplifyBooleanAssertion"/>
    <exclude name="StdCyclomaticComplexity"/>

    <!-- custom exlusions -->
    <exclude name="ImmutableField"/>
    <!-- <exclude name="LawOfDemeter"/> -->
  </rule>
  <rule ref="category/java/errorprone.xml">
    <!--  Deprecated rules  -->
    <exclude name="BadComparison"/>
    <exclude name="BeanMembersShouldSerialize"/>
    <exclude name="CloneThrowsCloneNotSupportedException"/>
    <exclude name="DataflowAnomalyAnalysis"/>
    <exclude name="DoNotCallSystemExit"/>
    <exclude name="EmptyFinallyBlock"/>
    <exclude name="EmptyIfStmt"/>
    <exclude name="EmptyInitializer"/>
    <exclude name="EmptyStatementBlock"/>
    <exclude name="EmptyStatementNotInLoop"/>
    <exclude name="EmptySwitchStatements"/>
    <exclude name="EmptySynchronizedBlock"/>
    <exclude name="EmptyTryBlock"/>
    <exclude name="EmptyWhileStmt"/>
    <exclude name="ImportFromSamePackage"/>
    <exclude name="InvalidSlf4jMessageFormat"/>
    <exclude name="LoggerIsNotStaticFinal"/>
    <exclude name="MissingBreakInSwitch"/>
    <exclude name="ReturnEmptyArrayRatherThanNull"/>

    <!-- custom exlusions -->
    <exclude name="EmptyCatchBlock"/>
    <exclude name="AvoidDuplicateLiterals"/>
  </rule>
</ruleset>